<div class="calendar-container">
  <div class="calendar">
    <ha-single-month-display
      [checks]="checks"
      [habitId]="habitId"
      [month]="8"
      [year]="2021"
    >
    </ha-single-month-display>
  </div>
  <div class="calendar">
    <ha-single-month-display
      [checks]="checks"
      [habitId]="habitId"
      [month]="9"
      [year]="2021"
    >
    </ha-single-month-display>
  </div>
  <div class="calendar">
    <ha-single-month-display
      [checks]="checks"
      [habitId]="habitId"
      [month]="10"
      [year]="2021"
    >
    </ha-single-month-display>
  </div>
</div>
