@import "ha-colors";

@import "ha_variables";

.card {
  margin: 0 auto;
  background: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(22, 43, 102, .05);
  padding: 36px;
}

@media screen and (max-width: $mobile-max-width) {
  .card {
    padding: 24px;
  }
}
