@import "ha-variables";

.page-container {
  padding: 18px;
}

.title {
  margin-right: 12px;
  margin-bottom: 12px;
  font-size: 24px;
  letter-spacing: -.5px;
}

.row {
  margin: 18px 0 0;

  &--action {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 36px 0 0;
  }
}

.input-wrapper {
  width: 100%;
}

@media screen and (max-width: $mobile-max-width) {
  .page-container {
    padding: 0;
  }
}
