<div class="page-container">
    <ha-card [size]="cardSize.FORM">
        <div class="title">🪴 Create your own habito account!</div>

        <form [formGroup]="accountFormGroup">
            <div class="row">
                <div class="input-wrapper">
                    <ha-label for="email">email</ha-label>
                    <ha-text
                            name="email"
                            type="email"
                            placeholder="Your email"
                            formControlName="email"
                            [autoSelect]="true"
                    >
                    </ha-text>
                </div>
            </div>

            <div class="row">
                <ha-password-field (linkToParent)="linkFormGroup($event)"></ha-password-field>
            </div>

            <div class="row--action">
                <button
                        haButton
                        [haButtonType]="buttonType.HERO_SIMPLE"
                        (click)="back()">
                    Back
                </button>

                <button
                        haButton
                        [haButtonType]="buttonType.HERO_SECONDARY"
                        type="submit"
                        [disabled]="accountFormGroup.invalid || loading"
                        (click)="create()"
                >
                    <ha-loader *ngIf="loading"></ha-loader>
                    <span>Create account</span>
                </button>
                </div>
        </form>
    </ha-card>
</div>
