@import "ha_variables";

form {
  display: flex;
  flex-direction: row;

  .form-group {
    width: 100%;

    &:nth-child(1) {
      padding-right: 6px;
    }

    &:nth-child(2) {
      padding-left: 6px;
    }
  }
}

.line-break {
  flex-direction: column;

  .form-group {

    &:nth-child(1) {
      padding-right: 0;
    }

    &:nth-child(2) {
      padding-left: 0;
      margin-top: 18px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  form {
    flex-direction: column;

    .form-group {

      &:nth-child(1) {
        padding-right: 0;
      }

      &:nth-child(2) {
        padding-left: 0;
        margin-top: 18px;
      }
    }
  }
}
