<div>
  <form name="form" role="form" [formGroup]="passwordFormGroup" [ngClass]="inline ? '' : 'line-break'">
    <div class="form-group">
      <ha-label>New password</ha-label>
      <ha-text
              type="password"
              formControlName="password"
              placeholder="Your new password"
              [error]="passwordField != null && passwordField.dirty && passwordField.invalid"
      >
      </ha-text>
      <div *ngIf="passwordField?.dirty && passwordField?.invalid">
        <ha-label [error]="true" [type]="informativeLabel" *ngIf="passwordField?.errors?.minlength">
          Your password is required to be at least 6 characters.
        </ha-label>
        <ha-label [error]="true" [type]="informativeLabel" *ngIf="passwordField?.errors?.maxlength">
          Your new password is too long.
        </ha-label>
      </div>
    </div>
    <div class="form-group confirm">
      <ha-label>New password confirmation</ha-label>
      <ha-text
              type="password"
              formControlName="confirmPassword"
              placeholder="Confirm new password"
              [error]="confirmPasswordField != null && confirmPasswordField.dirty && confirmPasswordField.invalid"
      >
      </ha-text>
      <div *ngIf="confirmPasswordField?.dirty && confirmPasswordField?.invalid">
        <ha-label [type]="informativeLabel" [error]="true" *ngIf="confirmPasswordField?.errors?.minlength">
          Your password is required to be at least 6 characters.
        </ha-label>
        <ha-label class="form-text text-danger" *ngIf="confirmPasswordField?.errors?.maxlength">
          Your new password is too long.
        </ha-label>
      </div>
      <ha-label
              [type]="informativeLabel"
              [error]="true"
              *ngIf="passwordFormGroup.invalid &&
                     passwordFormGroup.errors &&
                     passwordFormGroup.errors.fieldsAreEqual &&
                     confirmPasswordField?.dirty &&
                     passwordField?.dirty">
        Passwords do not match.
      </ha-label>
    </div>
  </form>
</div>
