@import "ha-colors";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding-bottom: 18px;

  > div:first-child {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 12px;
    font-size: 24px;
    letter-spacing: -.5px;
  }
}

.emoji-row {
  font-size: 48px;
  text-align: center;
}
