<div class="wrapper">
  <div class="habits">
    <div class="user" (click)="toAccount()">
      <ha-avatar [initials]="account | initials"></ha-avatar>
      <div>
        <div>{{ account?.firstName }} {{ account?.lastName }}</div>
        <div>{{ account?.email }}</div>
      </div>
    </div>

    <div class="list">
      <div class="habit" routerLinkActive="active" routerLink="/home">
        <div class="habit__emoji">🪴</div>
        <div class="habit__title">Dashboard</div>
        <img alt="" src="assets/svg/ic-chevron-right.svg">
      </div>
      <div *ngFor="let habit of habits" class="habit" routerLinkActive="active" [routerLink]="['/habits/', habit.id]">
        <div class="habit__emoji">{{ habit.icon }}</div>
        <div class="habit__title">{{ habit.title }}</div>
        <img alt="" src="assets/svg/ic-chevron-right.svg">
      </div>
    </div>

    <div class="add-habit">
      <div class="add-habit__button" (click)="showMenu()">
        <img alt="" src="assets/svg/ic-add.svg">
        <span>New habit</span>
      </div>
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>
</div>
