@import "ha-colors";

.wrapper {
  min-height: 100vh;
  display: flex;

  .habits {
    max-width: 400px;
    width: 33%;
    margin: 28px 8px 28px 16px;

    .user {
      margin-bottom: 28px;
      display: flex;
      align-content: center;
      width: calc(100% - 28px - 8px);
      overflow: hidden;
      cursor: pointer;

      > div {
        margin-left: 10px;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        white-space: nowrap;
        width: calc(100% - 55px);

        > div:first-child {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          font-weight: 500;
        }

        > div:last-child {
          color: $color-seal;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 14px;
        }
      }
    }
  }

  .content {
    margin: 28px 8px 28px 16px;
    flex-grow: 1;
  }
}

.list {
  margin-top: 56px;
  background: $color-white;
  border-radius: 12px;
  box-shadow: 0 0 20px 0 rgba(22, 43, 102, .1);
  overflow: hidden;

  .habit {
    padding: 18px 18px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $color-primary;
    }

    &.active {
      color: $color-primary;
    }

    &:not(:last-child) {
      border-bottom: 1px solid hsla(245, 100%, 60%, 10%);
    }

    &__emoji {
      font-size: 36px;
    }

    &__title {
      margin-left: 18px;
      font-size: 16px;
      font-weight: 500;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    > img:last-child {
      margin-left: auto;
    }
  }
}

.add-habit {
  margin: 24px 12px;
  padding: 6px;
  display: flex;
  justify-content: flex-end;

  &__button {
    width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;

    span {
      padding-left: 6px;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 14px;
      white-space: nowrap;
    }

    &:hover {

      span {
        color: $color-primary;
      }
    }
  }
}
