@import "ha-colors";

@import "ha_variables";

.page-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 3% 60px;
  background: $color-white;
  width: 480px;
  min-height: 460px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(22, 43, 102, .05);

  &__input {
    width: 100%;

    > div {
      margin-bottom: 16px;

      &:last-child {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }
    }
  }
}

.logo {
  font-size: 32px;
  letter-spacing: 3px;
  font-weight: 500;
  color: $color-primary;
}

.password-forgotten {
  padding: 0 2px;
  box-shadow: inset 0 -5px 0 hsla(245, 100%, 60%, 50%);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.4px;
  text-transform: lowercase;

  &:hover {
    box-shadow: inset 0 -10px 0 hsla(245, 100%, 60%, 40%);
    transition: all 0.2s ease-in-out;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .page-container {
    background-color: $color-white;
  }

  .login-container {
    border: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding: 3% 20px;
  }
}
