<div class="container">
  <header>
    <div>New habit</div>
    <em nz-icon nzType="ic-clear" (click)="close()"></em>
  </header>

  <form [formGroup]="habitForm">
    <div class="input-line">
      <div>
        <ha-label for="icon">Emoji</ha-label>
        <ha-emoji-picker name="icon" formControlName="icon"></ha-emoji-picker>
      </div>

      <div>
        <ha-label for="title">Title</ha-label>
        <ha-text
          name="title"
          type="text"
          placeholder="Habit's title"
          formControlName="title"
          [autoSelect]="true"
        ></ha-text>
      </div>
    </div>

    <div class="buttons">
      <button
        haButton
        [haButtonType]="buttonType.HERO_PRIMARY"
        [style.--degree]="degree"
        [disabled]="habitForm.invalid || loading"
        (click)="createHabit()"
      >
        <ha-loader *ngIf="loading"></ha-loader>
        <span>Create</span>
      </button>

      <button
        haButton
        [haButtonType]="buttonType.HERO_SIMPLE"
        (click)="close()">
        Cancel
      </button>
    </div>
  </form>
</div>
